# SQLite Connection File URL (relative to prisma directory)
DATABASE_URL="file:./dev.db"

# Auth Session Secret
SESSION_SECRET="super-secret-key-slot-booking-service"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
