# PostgreSQL Connection URL
DATABASE_URL="postgresql://postgres:password@localhost:5432/slotbooking?schema=public"

# Auth Session Secret
SESSION_SECRET="super-secret-key-slot-booking-service"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
